/bin/
/gen/
/.classpath
/.project
/proguard-project.txt
/project.properties

# Gradle
/.gradle/
/build/
/local.properties

# macOS
.DS_Store

# Gradle module builds
core/build/
web/build/
android/build/
